<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FxHive Test Suite" preserve-order="true">
    <test name="FxHive Admin Tests">
        <classes>
            <class name="Admin.StageSuiteSession"/>
            <class name="Admin.AddEmployeeTest"/>
            <class name="Admin.AddSalaryFullTimeTest"/>
            <class name="Admin.AddSalaryInternTest"/>
            <class name="Admin.AddSalaryContractualTest"/>
            <class name="Admin.AddSalaryConsultantTest"/>
            <class name="Admin.GeneratePayrollFullTimeTest"/>
            <class name="Admin.GeneratePayrollInternTest"/>
            <class name="Admin.GeneratePayrollContractualTest"/>
            <class name="Admin.GeneratePayrollConsultantTest"/>
            <class name="Admin.EmployeeDocumentTest"/>
            <!-- <class name="Admin.AllEmployeeTest"/> -->
        </classes>
    </test>
    <!-- <test name="Salary Structure Tests - Full Time">
        <parameter name="employeeType" value="fulltime"/>
        <classes>
            <class name="Admin.SalaryStructureTests"/>
        </classes>
    </test>
    <test name="Salary Structure Tests - Intern">
        <parameter name="employeeType" value="intern"/>
        <classes>
            <class name="Admin.SalaryStructureTests"/>
        </classes>
    </test>
    <test name="Salary Structure Tests - Contractual">
        <parameter name="employeeType" value="contractual"/>
        <classes>
            <class name="Admin.SalaryStructureTests"/>
        </classes>
    </test> -->
</suite>


